<ion-header>
  <ion-toolbar>
    <ion-title>Edit Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div padding>

    <form #form="ngForm">

      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input clearInput required [(ngModel)]="contact.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" clearInput [(ngModel)]="contact.email" name="email"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="saveContact()" margin-top>Save</ion-button>
      <ion-button expand="block" fill="outline" (click)="cancel()" margin-top>Cancel</ion-button>
  
    </form>
    
  </div>

</ion-content>
