<ion-header>
  <ion-toolbar>
    <ion-title>Button Example</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    <ion-button>Default</ion-button>
  </p>
  <p>
    <ion-button color="primary">Basic with color</ion-button>
  </p>
  <p>
    <ion-button color="primary" shape="round">Round</ion-button>
  </p>
</ion-content>

<ion-content padding>
  <p>
    <ion-button color="light">Light</ion-button>
  </p>

  <p>
    <ion-button>Default</ion-button>
  </p>

  <p>
    <ion-button color="secondary">Secondary</ion-button>
  </p>

  <p>
    <ion-button color="danger">Danger</ion-button>
  </p>

  <p>
    <ion-button color="dark">Dark</ion-button>
  </p>
</ion-content>