<ion-header>
  <ion-toolbar>
    <ion-title>Button Example</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    <button ion-button>Default</button>
  </p>
  <p>
    <button ion-button color="primary">Basic with color</button>
  </p>
  <p>
    <button ion-button color="primary" shape="round">Round</button>
  </p>
</ion-content>

<ion-content padding>
  <p>
    <button ion-button color="light">Light</button>
  </p>

  <p>
    <button ion-button>Default</button>
  </p>

  <p>
    <button ion-button color="secondary">Secondary</button>
  </p>

  <p>
    <button ion-button color="danger">Danger</button>
  </p>

  <p>
    <button ion-button color="dark">Dark</button>
  </p>
</ion-content>